@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply lg:max-w-[1000px] md:max-w-[880px] max-w-[500px]  mx-auto px-[20px];
  }
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #0adb7f;
  border-radius: 8px;
  border: 2px solid #272736;
}

body::-webkit-scrollbar-track {
  background-color: #272736;
}
